@import '../utils/mixins';

.header {
  display: flex;
  height: 6.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  flex-shrink: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 7px 17px 3px rgb(0 0 0 / 19%);

  h2 {
    font-weight: 700;
    color: $color-text-main;
    @include respond-to(500px) {
      font-size: 2.1rem;
    }
    span {
      span {
        color: $error;
      }
    }
  }
  .left-item {
    display: flex;
    gap: 1rem;
  }
  .seach {
    position: relative;
    input {
      //
      padding: 0.5rem 0.9rem;
      border: 1px solid #c7c7c7;
      border-radius: 12px;
      outline: none;
      font-size: 1.5rem;
      //
      width: 20rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

      @include respond-to(450px) {
      width: 15rem;
    }
      &:focus {
        outline: none;
      }
      &:hover {
        border: 1px solid #c7c7c78f;
        cursor: pointer;
      }
    }
    img {
      padding: 0.1rem;
      position: absolute;
      width: 1.6rem;
      right: 0.8rem;
      top: 0.6rem;
    }
  }
}
