.posish {
  display: flex;
  overflow: hidden;
  height: 100dvh;
  height: 100vh;
  background: $gray-light;

  @include respond-to(1051px) {
    flex-direction: column-reverse;
  }
}

.wrapper-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  overflow-y: auto; // Только эта часть будет прокручиваться!
  flex-grow: 1;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b1b0b0;
    border-radius: 10px;
  }
  height: 100%;
  padding: 1.8rem 0.5rem 1.8rem 1.8rem;
  background: $gray-light;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
  // -ms-overflow-style: none;
  // scrollbar-width: none;
}

.filterAp {
  display: flex;
  /* На маленьких экранах элементы встанут в колонку */
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 18px;
  margin: 20px 0;
  background: rgba(219, 219, 219, 0.53); /* Более чистый вид через rgba */

  @media (max-width: 1160px) {
    flex-direction: column;
  }
}

.event_title {
  display: flex;

  justify-content: space-between;
  align-items: center;
  @media (max-width: 457px) {
    width: 100%;
  }
  .title_coming {
    font-weight: 900;
    text-transform: uppercase;
    color: $color-text-main;
    margin: 1.3rem 0;

    @include respond-to(610px) {
      font-size: 2.5rem;
    }

    @include respond-to(350px) {
      font-size: 2rem;
    }
  }

  button {
    align-self: center;
  }
}

.comEvSec {
  padding: 1.5rem 0;
  border-radius: 18px;
  display: flex;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  position: relative;
  gap: 1.6rem;

  &::-webkit-scrollbar {
    display: none;
  }

  // -webkit-overflow-scrolling: touch;

  // &::-webkit-scrollbar {
  //   height: 6px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: rgba(217, 15, 15, 0.918);
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: rgba(24, 23, 23, 0.89);
  //   border-radius: 10px;
  //   transition: background 0.3s;
  // }

  // &::-webkit-scrollbar-thumb:hover {
  //   background: rgba(255, 255, 255, 0.5);
  // }
}
