.seeAll-cart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2rem;
  justify-content: space-between;

  @media (max-width: 1415px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 490px) {
    grid-template-columns: 1fr;
  }
}

.all-contaner {
  padding: 1.5rem;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  
  scrollbar-gutter: stable;
}
