.weather-widget {
  background:
    linear-gradient(190deg, rgb(118 179 227 / 75%), rgba(198, 220, 236, 0.25)),
    url('../../image/2vladimir-anikeev-IM8ZyYaSW6g.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // 2. Эффект размытия заднего плана
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 24px;
  padding: 1.5rem;
  color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  &__city {
    font-weight: 500;
    color: #fff;
    margin: 0;
  }

  &__date {
    opacity: 0.8;
    color: #fff;
  }

  &__condition {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;

    img {
      width: 5rem;
      border-radius: 0;
    }
    span {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__temp-block {
    text-align: right;

    .weather-widget__current-temp {
      font-size: 7rem;
      font-weight: 300;
      line-height: 1;
    }
    .weather-widget__range {
      font-size: 1.8rem;
      margin-top: 1rem;
      .high {
        color: #fff;
      }
      .low {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    padding-bottom: 8px;
    margin-bottom: 1.5rem;

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.874);
      font-size: 1.4rem;
      position: relative;

      &.active {
        color: #fff;
        font-weight: 700;
        &::after {
          content: '';
          position: absolute;
          bottom: -9px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #fff;
        }
      }
    }
  }

  &__hourly {
    display: flex;
    overflow-x: auto;
   
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.296);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.318);
      border-radius: 10px;
      transition: background 0.3s;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    .forecast-item {
      display: flex;
      flex-direction: column;
      flex: 0 0 7.5rem;
      align-items: center;
      gap: 10px;
      border: 2px solid rgba(255, 255, 255, 0.37);
      border-radius: 5px;
      padding: 1rem 0.5rem;

      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);

      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 16px; /* Более мягкие углы */
      scroll-snap-align: center;
      transition:
        transform 0.2s,
        background 0.2s;

      &__time {
        font-size: 1.2rem;
        font-weight: 700;
      }
      &__icon {
        width: 40px;
        height: 40px;
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
      }
      &__temp {
        font-weight: 700;
      }
    }
  }
}
