@mixin hover-element {
  transition:
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    .card__title {
      color: #000;
    }
  }
}

// Миксин для мобильных устройств (смартфоны)
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

// Миксин для планшетов
@mixin tablet {
  @media (max-width: 992px) {
    @content;
  }
}

// Миксин для небольших ноутбуков
@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

// Миксин для кастомного значения (если нужно что-то специфическое)
@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
